.site-header {
	background-color:white;
	width:100%;
	padding:0 u(2rem);
  overflow-x:hidden;
	box-shadow:0 5px 10px rgba(0,0,0,0.5);
  	position:relative;
  	a {
  		color:#222;
  		text-decoration: none;
  	}
}

.site-title {
	@include rhythm(2,1,1);
}