* {
  box-sizing:border-box;
}

html {
  background-color:#ccc;
}

body {
  margin:0 auto;
  padding:0;
}

#main {
	width:100%;
	margin-bottom:u(2rem);
	padding:0 u(2rem);
}

div.content {
	width:100%;
	max-width:43.75em;
	margin:0 auto;
}