.main-navigation {
	position:absolute;
	top:50%;
	right:u(1rem);
	transform:translateY(-50%);
	display: block;
	margin:0 u(1rem);
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		float:right;

		ul {
			float: right;
			position: absolute;
			top: u(1.5rem);
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul {
					left: 100%;
				}
			}

			a {
				margin-left:u(2rem);
				width: 200px;
			}

		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		margin-left:u(2rem);
	}
	a {
		display: block;
		text-decoration: none;
		color:#222;
		transition:color 0.3s ease-in;
		&:hover {
			color:#888;
		}
	}

	.current_page_item a,
	.current-menu-item a {
		color:white;
	}
}

/* Small menu */
.menu-toggle {
	@include rhythm(2,0,0);
	height:auto;
	position:absolute;
	display:none;
	right:0;
	top:0;
	margin:0 u(2rem) 0 0;
	padding:0 0 0 0;
	background:none;
	outline:none;
	border:none;
	transition:top 0.3s ease-out, color 0.3s ease-in;
	color:white;
}

@media all and (max-width: u(42rem)) {
	.current_page_item a,
	.current-menu-item a {
		color:white !important;
	}

	.main-navigation .menu {
		height:0;
		overflow:hidden;
	}

	.menu-toggle {
		display:block;
		position:absolute;
		top:50%;
		transform:translateY(-50%);
		right:0;
		z-index:5000;
		color:#222;
	}

	.main-navigation.toggled {
		top:50%;
		bottom:0;
		position:fixed;
		height:100%;
		z-index:5000;
		.menu {
			height:100%;
			z-index:3000;
			overflow:visible;
		}
		.nav-menu {
			width:100%;
			height:100%;
			transform:translateY(0);
		}
		.menu-toggle {
			color:white;
			top:0;
			padding-top:u(0.25rem);
			transform:translateY(25%);
			color:transparent;
			&::before {
				@include rhythm(3,0,0);
				position:absolute;
				content:'×';
				top:u(.25rem);
				left:0;
				width:100%;
				text-align:center;
				display:block;
				color:#222;
				z-index:5000;
			}
		}
	}

	.main-navigation {
		right:0;
		width:100%;
		margin:0;
	}
	.main-navigation ul {
		top:0;
		width:100%;
		height:100%;
		margin:0 auto;
		padding:3.75em 0 0 0;
		transform:translateY(-100%);
		transition:transform 0.3s ease-out;
		background-color:rgba(255,255,255,0.7);
		float:none;
		li {
			float:none;
			width:100%;
			text-align:center;
			margin:1em auto;
			&:first-child {
				margin-top:0;
			}
		}
	}
}