/*This stylesheet uses a mixin based on gridlover.net to calculate a good baseline grid easily. See https://github.com/sevenupcan/gridlover-mixin for info. Credit to sevenupcan, awesome stuff! Note that I made a few edits to David Walsh's mixin that generates old-IE-friendly stylesheets with pixel units instead of rems, as well.*/
/*IIMPORTANT: use REMs with *** u(1.23rem) *** notation to take advantage of the REM to PX for IE converter.)*/

$body-font-size: 1.1875rem;
$body-line-height: 1.618;
$scale-factor: 1.618;
$computed-line-height: u($body-line-height * $body-font-size);

html {
  font-family:'Open Sans', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
}

body {
  @include rhythm(0);
  margin: 0 auto;
}
h1 {
  @include rhythm(3,2,1);
}
h2 {
  @include rhythm(2,2,1);
}
h3 {
  @include rhythm(1,1,1);
}
h4 {
  @include rhythm(0,0,0);
}
p, ul, ol, pre, table, blockquote {
  @include rhythm(0,1,1);
}

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

/*16px base units for screens under 600px*/
@media screen and (max-width: 599px) {
  $body-font-size: 1rem !global;
  body {
  @include rhythm(0);
  margin: 0 auto;
  }
  h1 {
    @include rhythm(3,2,1);
  }
  h2 {
    @include rhythm(2,2,1);
  }
  h3 {
    @include rhythm(1,1,1);
  }
  h4 {
    @include rhythm(0,0,0);
  }
  p, ul, ol, pre, table, blockquote {
    @include rhythm(0,1,1);
  }

  /* Sanitation */
  hr {
    border: 1px solid;
    margin: -1px 0;
  }
  ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  b, strong, em, small, code {
    line-height: 1;
  }
  sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }
  sub {
    top: 0.4em;
  }
}

/*13px base units for screens under 400px*/
@media screen and (max-width: 399px) {
  $body-font-size: 0.8125rem !global;
  body {
  @include rhythm(0);
  margin: 0 auto;
  }
  h1 {
    @include rhythm(3,2,1);
  }
  h2 {
    @include rhythm(2,2,1);
  }
  h3 {
    @include rhythm(1,1,1);
  }
  h4 {
    @include rhythm(0,0,0);
  }
  p, ul, ol, pre, table, blockquote {
    @include rhythm(0,1,1);
  }

  /* Sanitation */
  hr {
    border: 1px solid;
    margin: -1px 0;
  }
  ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  b, strong, em, small, code {
    line-height: 1;
  }
  sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }
  sub {
    top: 0.4em;
  }
}